@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary-50: #e6f2fa;
  --color-primary-100: #c1dff3;
  --color-primary-200: #98caec;
  --color-primary-300: #6eb5e4;
  --color-primary-400: #4fa5de;
  --color-primary-500: #3095d8;
  --color-primary-600: #2b8dd4;
  --color-primary-700: #2482ce;
  --color-primary-800: #1e78c8;
  --color-primary-900: #1367bf;

  --font-sans: Raleway,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

:root {
  --tooltip-font-family: var(--font-sans);
}

button {
  cursor: pointer;
}